<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{selectedPost.url}}" class="lead">{{selectedPost.title}}</a>
    <p>{{selectedPost.summary}}</p>
    <p>{{selectedPost.author.username}}</p>
    <h2>Comments</h2>
    <ul>
      {{#each selectedPost.comments}}
      <li class='list-group-item'>
        <p>{{this.content}}</p>
        <p>Comment author: {{this.author.username}}</p>
      </li>
      {{/each}}
    </ul>
  </div>

  <form action="/posts/{{selectedPost._id}}/comments" method="post">
    <textarea class="form-control" name="content" placeholder="Your comment here"></textarea>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Save comment</button>
    </div>
  </form>
</div>